.container {
    background-color: silver;
    margin: 0px auto;
    padding: 10px;
}
.title {
    display: flex;
    justify-content: center;
}

.all_imgs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.top_imgs{
    display: flex;
    justify-content: space-around;
    background-color: blueviolet;
    padding: 10px;
}

.middle_imgs{
    display: flex;
    justify-content: space-around;
    background-color: turquoise;
    padding: 10px;
}

.bottom_imgs{
    display: flex;
    justify-content: space-around;
    background-color: red;
    padding: 10px;
}

.referance{
    display: flex;
    justify-content: center;
}

